html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

@font-face {
	font-family: "BurbankBigCondensed";
	src:url("BurbankBigCondensed.otf") format("opentype");
}

body {
	background: #000 url("stage.jpg") no-repeat center/cover;
	font-family: 'BurbankBigCondensed', sans-serif;
	font-weight: normal;
	font-style: normal;
}

h1 {
	color: #fff;
	font-size: 5vh;
	text-align: center;
	margin: 5px;
}
img {
	height: 80vh;
	user-select: none;
	cursor: pointer;
  display: block;
  margin: auto;
}

p {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  margin: 5px;
}


